.pointer {
  cursor: pointer;
}

.main-container {
  position: relative;
  height: 700px;
  background-color: transparent;
}

.containers {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.graphBody {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: end;
}

.personDetail {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  margin: auto 40px;
}

.personDetailSpan {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
}

/* Color Picker styling Start from here */

.clrDiv {
  width: 35px;
  height: 35px;
  padding: 2px;
}

.color-1 {
  background-color: #845EC2;
}

.color-2 {
  background-color: #D65DB1;
}

.color-3 {
  background-color: #FF6F91;
}

.color-4 {
  background-color: #FF9671;
}

.color-5 {
  background-color: #FFC75F;
}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border: solid 2px #ddd;
  border-radius: 40px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 35px;
  height: 35px;
  border: none;
}

.input-color-label {
  cursor: pointer;
  color: gray;
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
}


.tabs {
  background: #D0F0E5;
  border: 2px solid #8DD8BC;
  border-radius: 10px;
}

.tab-border {
  border-left: 2px solid #8DD8BC;
  border-right: 2px solid #8DD8BC;
}

.border-clr {
  border-color: #8DD8BC !important;
}