:root {
    --primary: #8DD8BC;
    --secondary: #D0F0E5;
    --secondary2:#243666
    /* Define the variable */
}



.primary-bg {
    background-color: var(--primary) !important;
}

.secondary-bg {
    background-color: var(--secondary) !important;
}

.secondary2-bg {
    background-color: var(--secondary2) !important;
}

.secondary-text {
    color: var(--secondary);
}
.secondary2-text{
    color: var(--secondary2);
}


.addBorder {
    border: 1px solid gray;
}


.primary-border {
    border-color: var(--primary);
}